<?xml version="1.0"?>
<config>
    <modules>
        <Mageaustralia_Fpc>
            <version>1.2.1</version>
        </Mageaustralia_Fpc>
    </modules>
    <global>
        <cache>
            <types>
                <fpc translate="label,description" module="mageaustralia_fpc">
                    <label>Full Page Cache</label>
                    <description>Cached static HTML pages (category, product, CMS). Flush after template or layout changes.</description>
                    <tags>FPC</tags>
                </fpc>
            </types>
        </cache>
        <models>
            <mageaustralia_fpc>
                <class>Mageaustralia_Fpc_Model</class>
                <resourceModel>mageaustralia_fpc_resource</resourceModel>
            </mageaustralia_fpc>
            <mageaustralia_fpc_resource>
                <class>Mageaustralia_Fpc_Model_Resource</class>
                <entities>
                    <stats>
                        <table>mageaustralia_fpc_stats</table>
                    </stats>
                    <stats_hourly>
                        <table>mageaustralia_fpc_stats_hourly</table>
                    </stats_hourly>
                </entities>
            </mageaustralia_fpc_resource>
        </models>
        <resources>
            <mageaustralia_fpc_setup>
                <setup>
                    <module>Mageaustralia_Fpc</module>
                </setup>
            </mageaustralia_fpc_setup>
        </resources>
        <blocks>
            <mageaustralia_fpc>
                <class>Mageaustralia_Fpc_Block</class>
            </mageaustralia_fpc>
        </blocks>
        <helpers>
            <mageaustralia_fpc>
                <class>Mageaustralia_Fpc_Helper</class>
            </mageaustralia_fpc>
        </helpers>
        <events>
            <!-- Cache write: capture response and write static HTML -->
            <controller_front_send_response_before>
                <observers>
                    <mageaustralia_fpc_save>
                        <type>singleton</type>
                        <class>Mageaustralia_Fpc_Model_Observer</class>
                        <method>saveCache</method>
                    </mageaustralia_fpc_save>
                </observers>
            </controller_front_send_response_before>

            <!-- Cache read: check for cached response before routing -->
            <controller_action_predispatch>
                <observers>
                    <mageaustralia_fpc_hit>
                        <type>singleton</type>
                        <class>Mageaustralia_Fpc_Model_Observer</class>
                        <method>checkCache</method>
                    </mageaustralia_fpc_hit>
                </observers>
            </controller_action_predispatch>

            <!-- Invalidation: product save -->
            <catalog_product_save_after>
                <observers>
                    <mageaustralia_fpc_product>
                        <type>singleton</type>
                        <class>Mageaustralia_Fpc_Model_Observer</class>
                        <method>onProductSave</method>
                    </mageaustralia_fpc_product>
                </observers>
            </catalog_product_save_after>

            <!-- Invalidation: category save -->
            <catalog_category_save_after>
                <observers>
                    <mageaustralia_fpc_category>
                        <type>singleton</type>
                        <class>Mageaustralia_Fpc_Model_Observer</class>
                        <method>onCategorySave</method>
                    </mageaustralia_fpc_category>
                </observers>
            </catalog_category_save_after>

            <!-- Invalidation: CMS page save -->
            <cms_page_save_after>
                <observers>
                    <mageaustralia_fpc_cms_page>
                        <type>singleton</type>
                        <class>Mageaustralia_Fpc_Model_Observer</class>
                        <method>onCmsPageSave</method>
                    </mageaustralia_fpc_cms_page>
                </observers>
            </cms_page_save_after>

            <!-- Invalidation: CMS block save -->
            <cms_block_save_after>
                <observers>
                    <mageaustralia_fpc_cms_block>
                        <type>singleton</type>
                        <class>Mageaustralia_Fpc_Model_Observer</class>
                        <method>onCmsBlockSave</method>
                    </mageaustralia_fpc_cms_block>
                </observers>
            </cms_block_save_after>

            <!-- Invalidation: blog post save -->
            <maho_blog_post_save_after>
                <observers>
                    <mageaustralia_fpc_blog>
                        <type>singleton</type>
                        <class>Mageaustralia_Fpc_Model_Observer</class>
                        <method>onBlogPostSave</method>
                    </mageaustralia_fpc_blog>
                </observers>
            </maho_blog_post_save_after>

            <!-- Invalidation: stock change -->
            <cataloginventory_stock_item_save_after>
                <observers>
                    <mageaustralia_fpc_stock>
                        <type>singleton</type>
                        <class>Mageaustralia_Fpc_Model_Observer</class>
                        <method>onStockSave</method>
                    </mageaustralia_fpc_stock>
                </observers>
            </cataloginventory_stock_item_save_after>

            <!-- Invalidation: cache tag flush -->
            <application_clean_cache>
                <observers>
                    <mageaustralia_fpc_clean>
                        <type>singleton</type>
                        <class>Mageaustralia_Fpc_Model_Observer</class>
                        <method>onCleanCache</method>
                    </mageaustralia_fpc_clean>
                </observers>
            </application_clean_cache>

            <!-- Refresh actions: flush FPC after cart/wishlist/compare actions -->
            <controller_action_postdispatch>
                <observers>
                    <mageaustralia_fpc_refresh>
                        <type>singleton</type>
                        <class>Mageaustralia_Fpc_Model_Observer</class>
                        <method>onRefreshAction</method>
                    </mageaustralia_fpc_refresh>
                    <mageaustralia_fpc_ajax>
                        <type>singleton</type>
                        <class>Mageaustralia_Fpc_Model_Ajax_Observer</class>
                        <method>onPostdispatch</method>
                    </mageaustralia_fpc_ajax>
                </observers>
            </controller_action_postdispatch>
        </events>
    </global>
    <crontab>
        <jobs>
            <mageaustralia_fpc_async_flush>
                <schedule>
                    <cron_expr>* * * * *</cron_expr>
                </schedule>
                <run>
                    <model>mageaustralia_fpc/observer::processAsyncFlush</model>
                </run>
            </mageaustralia_fpc_async_flush>
            <mageaustralia_fpc_cleanup>
                <schedule>
                    <cron_expr>0 */6 * * *</cron_expr>
                </schedule>
                <run>
                    <model>mageaustralia_fpc/observer::cleanExpiredCache</model>
                </run>
            </mageaustralia_fpc_cleanup>
            <mageaustralia_fpc_warmup>
                <schedule>
                    <cron_expr>* * * * *</cron_expr>
                </schedule>
                <run>
                    <model>mageaustralia_fpc/observer::processWarmup</model>
                </run>
            </mageaustralia_fpc_warmup>
            <mageaustralia_fpc_stats_cleanup>
                <schedule>
                    <cron_expr>0 3 * * *</cron_expr>
                </schedule>
                <run>
                    <model>mageaustralia_fpc/observer::cleanOldStats</model>
                </run>
            </mageaustralia_fpc_stats_cleanup>
            <mageaustralia_fpc_stats_rollup>
                <schedule>
                    <cron_expr>5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>mageaustralia_fpc/observer::rollupHourlyStats</model>
                </run>
            </mageaustralia_fpc_stats_rollup>
            <mageaustralia_fpc_warmup_scheduled>
                <schedule>
                    <config_path>system/fpc/warmup_schedule</config_path>
                </schedule>
                <run>
                    <model>mageaustralia_fpc/observer::processScheduledWarmup</model>
                </run>
            </mageaustralia_fpc_warmup_scheduled>
        </jobs>
    </crontab>
    <adminhtml>
        <layout>
            <updates>
                <mageaustralia_fpc>
                    <file>mageaustralia_fpc.xml</file>
                </mageaustralia_fpc>
            </updates>
        </layout>
        <events>
            <admin_system_config_changed_section_mageaustralia_fpc>
                <observers>
                    <mageaustralia_fpc_config_changed>
                        <type>singleton</type>
                        <class>Mageaustralia_Fpc_Model_Observer</class>
                        <method>onFpcConfigChanged</method>
                    </mageaustralia_fpc_config_changed>
                </observers>
            </admin_system_config_changed_section_mageaustralia_fpc>
        </events>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <mageaustralia_fpc before="Mage_Adminhtml">Mageaustralia_Fpc_Adminhtml</mageaustralia_fpc>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <routers>
            <fpc>
                <use>standard</use>
                <args>
                    <module>Mageaustralia_Fpc</module>
                    <frontName>fpc</frontName>
                </args>
            </fpc>
        </routers>
        <layout>
            <updates>
                <mageaustralia_fpc>
                    <file>mageaustralia_fpc.xml</file>
                </mageaustralia_fpc>
            </updates>
        </layout>
    </frontend>
    <default>
        <system>
            <fpc>
                <enabled>0</enabled>
                <lifetime>86400</lifetime>
                <show_age>0</show_age>
                <cdn_max_age>60</cdn_max_age>
                <cache_actions>cms_index_index
cms_page_view
catalog_product_view
catalog_category_view
catalog_category_layered
blog_index_index
blog_index_category
blog_index_view</cache_actions>
                <dynamic_blocks>cart_count:[data-cart-count]:text
compare_count:[data-compare-count]:text
wishlist_count:[data-wishlist-count]:text
account_links:[data-fpc-block="account_links"]:html
messages:[data-fpc-block="messages"]:html</dynamic_blocks>
                <bypass_handles>checkout_cart_index
checkout_onepage_index
customer_account_login
customer_account_create</bypass_handles>
                <uri_params>p
dir
order
limit
mode
cat
price
q</uri_params>
                <miss_uri_params>utm_campaign
utm_medium
utm_source
utm_content
utm_term
gclid
fbclid
srsltid</miss_uri_params>
                <customer_groups>0</customer_groups>
                <vary_currency>0</vary_currency>
                <vary_tax>0</vary_tax>
                <vary_geo>0</vary_geo>
                <gzip_only>0</gzip_only>
                <flush_on_product_save>1</flush_on_product_save>
                <flush_on_stock_change>1</flush_on_stock_change>
                <refresh_actions></refresh_actions>
                <turbo_enabled>1</turbo_enabled>
                <turbo_category>1</turbo_category>
                <turbo_product>0</turbo_product>
                <turbo_cms>1</turbo_cms>
                <turbo_excluded_paths>/checkout/,/firecheckout,/customer/,/wishlist/,/catalogsearch/,/contacts/,/review/,/paypal/,/catalog/product_compare/,/newsletter/,/sendfriend/,/tag/,/poll/</turbo_excluded_paths>
                <warmup_enabled>0</warmup_enabled>
                <warmup_batch_size>200</warmup_batch_size>
                <warmup_delay_ms>100</warmup_delay_ms>
                <warmup_sitemap_path></warmup_sitemap_path>
                <warmup_basic_auth></warmup_basic_auth>
                <reset_remove_selectors>.mfp-bg, .mfp-wrap, .modal-backdrop, .aa-DetachedOverlay, .meilisearch-autocomplete</reset_remove_selectors>
                <reset_close_selectors>.meilisearch-autocomplete.open</reset_close_selectors>
                <reset_body_classes>modal-open, no-scroll, overflow-hidden, mfp-zoom-out-cur</reset_body_classes>
                <reset_clear_inputs>.meilisearch-search-input</reset_clear_inputs>
                <reset_clone_selectors>.meilisearch-search-input</reset_clone_selectors>
                <reset_dispatch_escape>1</reset_dispatch_escape>
                <warmup_schedule></warmup_schedule>
                <stats_enabled>0</stats_enabled>
                <stats_retention_days>30</stats_retention_days>
                <stats_rollup_retention_days>90</stats_rollup_retention_days>
            </fpc>
        </system>
    </default>
</config>
